@using System.Web.Optimization
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
    
        <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
        @Scripts.Render("~/bundles/modernizr")
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="wrapper">
            <div id="header"></div>
            <div id="main-tabs">
                <ul>
                    <li><a href="#court-staff">
                        <span class="ui-icon ui-icon-image"></span>
                        Court Staff</a></li>
                    <li><a href="#court-settings">
                        <span class="ui-icon ui-icon-image"></span>
                        Court Settings</a></li>
                    <div id="login-info">
                        <label>User Login:</label>
                        <span>smyles@occ.gov</span>
                        <a href="#">Log Out</a>
                    </div>
                </ul>
                @RenderPage("CourtStaff.cshtml")
           </div>
        </div>
        @Scripts.Render(
        "~/bundles/jquery", 
        "~/bundles/jsextlibs", 
        "~/Scripts/lib/require.js", 
        "~/bundles/jsapplibs",
        "~/bundles/jqueryui",
        "~/Scripts/main.js")

    </body>
</html>